.heading-container {
    display: flex;
    justify-content: center;
}

.body-container {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.grid-container {
    display: flex;
    align-items: center;
}

.form-field {
    width: 50%;
}

.alert-box {
    width: 50%;
    margin: 0 auto;
}
