.heading-container{
    display: flex;
    justify-content: center;
}

.body-container{
    display: flex;
    justify-content: center;
}

.form-container{
    text-align: right;
    
}

.form-field{
    
}